<a href="https://colab.research.google.com/github/Bookmaster9/watlowintern/blob/RandomForest/Randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/fullyprocessed.csv')
data.head()

,LV Input (VAC),HV Input (VAC),Current (AAC),Leakage (MA),sn side 10 in (C),sn side 5 in (C),center (C),side 5 in (C),side 10 in (C),HV Out (VAC),LV Out (VAC),Power (WAT),Status,averagetemps,Cycles_until_failure
0,0.140338,1.67805,-0.003939,0.032422,22.023,22.012,531.098,22.124,22.109,25.053286,0.138795,-0.000547,0,123.8732,26653
1,0.137785,1.67549,-0.003914,0.032295,22.007,22.012,311.510,22.105,22.140,25.015066,0.136269,-0.000533,0,79.9548,26653
2,0.140338,1.67677,-0.003914,0.032487,22.006,22.001,536.150,22.110,22.113,25.034176,0.138795,-0.000543,0,124.8760,26653
3,0.136508,1.67677,-0.003914,0.032422,22.006,21.975,646.558,22.107,22.129,25.034176,0.135006,-0.000528,0,146.9550,26653
4,0.136508,1.67549,-0.003965,0.032487,22.018,21.994,838.220,22.122,22.113,25.015066,0.135006,-0.000535,0,185.2934,26653

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np

labels = np.array(data["Cycles_until_failure"])
features = np.array(data.iloc[:,:-1])
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, random_state = 42)
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (1676351, 14)
Training Labels Shape: (1676351,)
Testing Features Shape: (419088, 14)
Testing Labels Shape: (419088,)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 20, random_state = 42, verbose = 1)
# Train the model on training data
rf.fit(train_features, train_labels);

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed: 10.7min finished

In [ ]:
from sklearn.metrics import r2_score
predictedvalues = rf.predict(test_features)
print(r2_score(test_labels,predictedvalues))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9853473858679798

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    5.4s finished

In [ ]:
a = pd.DataFrame()
a['test_labels'] = test_labels
a['pred_labels'] = predictedvalues
a.to_csv('/content/gdrive/MyDrive/modelpredictions.csv')

In [ ]:
import pickle
pickle.dump(rf, open('/content/gdrive/MyDrive/firstrandomforest.pkl', 'wb'))

In [ ]:
count = 0
for i in range(len(test_labels)):
  if predictedvalues[i]> (test_labels[i] - 1000) and predictedvalues[i] < (test_labels[i] +1000):
    count +=1
print(count/len(test_labels))

0.8642671706181041

In [ ]:
import numpy as np
  
# Given values
Y_true = test_labels
  
# Calculated values
Y_pred = predictedvalues
  
# Mean Squared Error
MSE = (np.square(np.subtract(Y_true,Y_pred))).mean()
print(MSE)

1684094.5896105054